/* general */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 3px solid #f00; */
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffdd55;
}

/* DRY */

.buttons {
    display: flex;
    gap: 40px;
}

.buttons > button {
    font-size: 30px;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px #f00;
}

.logo {
    background-color: #ffdd55;
    color: #000;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow:
        5px 5px #fff,
        6px 6px #000;
}

/* header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* navigation bar */

nav>ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

nav>ul>li>a:hover {
    color: #ff00ff;
}

/* hero section */

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;

}

section.hero>.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

section.hero>.text-container>h1 {
    font-size: 50px;
    font-weight: 800;
}

section.hero>.text-container>p {
    font-size: 30px;
    font-weight: 400;
    color: #404457;
}

section.hero>img {
    width: 450px;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 10px 10px #000;
    background-color: #00c6ae;
}

/* about-me section */

section.about-me {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 150px;
}

section.about-me>.container {
    background-color: #106ee8;
    display: flex;
    padding: 50px 40px;
    gap: 40px;
    border-radius: 15px;
}

section.about-me>.container>img {
    width: 350px;
    border: 3px solid #000;
    border-radius: 15px;
    background-color: #00c6ae;
    transform: scaleX(-1);
}

section.about-me>.container>.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
}

section.about-me>.container>.text-container>h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 20px;
}

section.about-me>.container>.text-container>div.jobs {
    font-size: 25px;
    font-weight: 500;
    color: #ffdd55;
    margin-bottom: 20px;
}

section.about-me>.container>.text-container>p {
    font-size: 20px;
    font-weight: 500;
}

section.about-me>.container>.text-container>.buttons {
    margin-top: auto;
    margin-bottom: 5px;
}

/* services section */

.services {
    text-align: center;
    padding: 50px 100px;
    background-color: #eb7711;
    margin-bottom: 125px;
}

.services > h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services > p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 0 100px;
    margin-bottom: 60px;
}

.services > .container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    background-color: #a259ff;
    color: #fff;
    text-align: left;
    flex-basis: 275px;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 10px 10px #000;
    padding: 15px 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card > .content > h1 {
    font-size: 30px;
    /* font-weight: 800; */
}

.card > .content > p {
    font-size: 20px;
    font-weight: 500;
}

.card > .content > button {
    align-self: stretch;
    background-color: #ffdd55;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    border: 0;
}

.card > .number {
    font-size: 50px;
    font-weight: 900;
    background-color: #00c6ae;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;
    border-radius: 50%;
    
    margin: 0 auto;
    margin-top: -55px;
    margin-bottom: 12px;
}

/* contact-me section */

.contact-me {
    background-color: #00c6ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.contact-me > p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.contact-me > button {
    background-color: #ffdd55;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 100px;
    box-shadow: -12px 12px 3px #000;
    border-radius: 15px;
    border: 0;
}

/* footer section  */

footer {
    padding: 100px 0;
}

footer > .vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer > .vertical-container > .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer > .vertical-container > .logo-name > .name {
    font-size: 35px;
    font-weight: 800;
}

footer > .vertical-container > p {
    font-size: 25px;
    font-weight: 600;
    width: 500px;
    text-align: center;
}

footer > .vertical-container > .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer > p {
    text-align: center;
    margin-top: 40px;
}
